<h1>Editing Book</h1>

<%= form_with model:@book, url: 'books/:id', method: :patch do |f| %>

  <p>Title</p>
  <span><%= f.text_field :title %></span>
  <p>Body</p>
  <span><%= f.text_area :body %></span>
  <p><%= f.submit 'Update Book' %></p>


  <p><%= link_to 'Show', "/books/#{@book.id}" %> | <%= link_to 'Back', '/top' %></p>

<% end %>
